.App-login-page-background{
    background-image: url('D:\Final year project\Final project\finalproject\final\my-react-app\src\signup.jpeg'); /* Replace 'your-image-url.jpg' with the URL or path to your background image */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
 
 
 
}

.form-group{
    color: black;
}

.h2{
    color: black;
}

/* LoginPage.css */

/* Style for the login form */
.login-form {
    width: 300px; /* Adjust width as needed */
    margin: auto; /* Center the form horizontally */
  }
  
  /* Style for the form groups (labels and inputs) */
  .form-group {
    margin-bottom: 15px;
  }
  
  /* Style for the labels */
  .form-group label {
    display: inline-block; /* Make labels inline */
    width: 100px; /* Set label width */
    text-align: left; /* Align labels to the left */
  }
  
  /* Style for the inputs */
  .form-group input {
    width: calc(100% - 100px); /* Calculate input width to fill remaining space */
  }
  
  /* Style for the login button */
  .login-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Style for the icon */
  .login-button svg {
    margin-left: 5px; /* Adjust icon margin as needed */
  }

  
  .user-image{
    height: 100px;
  }